<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>

<body>

<% include default/header.ejs%>


<!-- Insert Body here -->
<div class="container">
        <%- body %>

</div><!-- /.container -->

<% include default/footer.ejs%>

</body>
</html>