<% layout('../layouts/default') %>
<script type="text/javascript">

    var myApp = angular.module('myApp', []);

    myApp.filter('camelCase', function () {
        var camelCaseFilter = function (input) {
            var words = input.split(' ');
            for (var i = 0, len = words.length; i < len; i++)
                words[i] = words[i].charAt(0).toUpperCase() + words[i].slice(1);
            return words.join('');
        };
        return camelCaseFilter;
    })

</script>
<div class="row">
    <div class="big-box">
        <div class="col-lg-12" ng-app="myApp">
            <form action="/getdata/">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="task" value="1" ng-model="task">
                            task1
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="task" value="2" ng-model="task">
                            task2
                        </label>
                    </div>
                </div>


                <div ng-show="task == '1'" ng-if="task == '1'">

                    <div class="form-group">
                        <label for="csvOrderBy">Order by:</label>
                        <select class="form-control" id="csvOrderBy" name="orderBy">
                            <option value='created_utc'>utc creation date</option>
                            <option value='domain'>domain</option>
                            <option value='score'>score</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="csvOrderDirection">Order by:</label>
                        <select class="form-control" id="csvOrderBy" name="orderDirection">
                            <option value='asc'>asc</option>
                            <option value='desc'>desc</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="exportType" value="csv" ng-model="exportType" required>
                            csv
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="exportType" value="sql" ng-model="exportType">
                            sql
                        </label>
                    </div>
                </div>
                <div ng-show="exportType == 'csv'" ng-if="exportType == 'csv'">
                    <div class="form-group">
                        <label for="csvSeparator">Select csv separator:</label>
                        <select class="form-control" id="csvSeparator" name="csvSeparator">
                            <option value='1'>;</option>
                            <option value='2'>|</option>
                            <option value='3'>&</option>
                            <option value='4'>,</option>
                            <option value='5'>.</option>
                        </select>
                    </div>
                </div>

                <div ng-show="exportType == 'sql'" ng-if="exportType == 'sql'">
                    <div class="form-group">
                        <label for="tblName">Table Name:</label>
                        <input type="text" class="form-control" id="tblName" name="tblName" required>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="createTable" value="true">Create table</label>
                    </div>

                    <div ng-show="task == '1'" ng-if="task == '1'"
                         ng-repeat="value in ['id', 'title', 'utc creation date','score','domain']">
                        <div class="form-group">
                            <label for="clmnNm{{value| camelCase}}">Column name for `{{value}}`:</label>
                            <input type="text" class="form-control" id="clmnNm{{value| camelCase}}"
                                   name="clmnNm[{{value}}]" required value="{{value}}">
                        </div>
                    </div>

                    <div ng-show="task == '2'" ng-if="task == '2'"
                         ng-repeat="value in ['domain','articles count','score summ']">
                        <div class="form-group">
                            <label for="clmnNm{{value| camelCase}}">Column name for `{{value}}`:</label>
                            <input type="text" class="form-control" id="clmnNm{{value| camelCase}}"
                                   name="clmnNm[{{value}}]" required value="{{value}}">
                        </div>
                    </div>
                </div>

                <input type="submit" class="btn btn-info" value="Submit">
            </form>
        </div>
    </div>
</div>